<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>
    <%= title %>
  </h1>
  <p><strong>이름:</strong> <%= userInfo.userName %></p>
  <p><strong>성별:</strong> <%= userInfo.gender %></p>
  <p><strong>생년월일:</strong> <%= userInfo.year %>년 <%= userInfo.month %>월 <%= userInfo.day %>일</p>
  <p><strong>관심사:</strong> <%= userInfo.interest %></p>
  <p><strong>좋아하는 색상:</strong> <%= userInfo.color %></p>
  <p><strong>좋아하는 숫자:</strong> <%= userInfo.number %></p>

  <a href="/">⬅️ 돌아가기</a>
</body>
</html>